<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'web/style.css' %}" rel="stylesheet">
    <title>Document</title>
</head>

<style>
    .center {
        text-align: center;
    }
</style>

<body>
    <pre class="center">
        the fog is coming the fog is coming the fog is coming the fog is coming the fog is coming
        the fog is coming the fog is coming the fog is coming the fog is coming the fog is coming
        the fog is coming the fog is coming the fog is coming the fog is coming the fog is coming
        the fog is coming the fog is coming the fog is coming the fog is coming the fog is coming
        the fog is coming the fog is coming the fog is coming the fog is coming the fog is coming
        the fog is coming the fog is coming the fog is coming the fog is coming the fog is coming
        the fog is coming the fog is coming the fog is coming the fog is coming the fog is coming
        the fog is coming the fog is coming the fog is coming the fog is coming the fog is coming
        the fog is coming the fog is coming the fog is coming the fog is coming the fog is coming
        the fog is coming the fog is coming the fog is coming the fog is coming the fog is coming
        the fog is coming the fog is coming the fog is coming the fog is coming the fog is coming
        the fog is coming the fog is coming the fog is coming the fog is coming the fog is coming
        the fog is coming the fog is coming the fog is coming the fog is coming the fog is coming
        the fog is coming the fog is coming the fog is coming the fog is coming the fog is coming
        the fog is coming the fog is coming the fog is coming the fog is coming the fog is coming
        the fog is coming the fog is coming the fog is coming the fog is coming the fog is coming
        the fog is coming the fog is coming the fog is coming the fog is coming the fog is coming
        the fog is coming the fog is coming the fog is coming the fog is coming the fog is coming
        the fog is coming the fog is coming the fog is coming the fog is coming the fog is coming
        the fog is coming the fog is coming the fog is coming the fog is coming the fog is coming
        the fog is coming the fog is coming the fog is coming the fog is coming the fog is coming
        the fog is coming the fog is coming the fog is coming the fog is coming the fog is coming
        the fog is coming the fog is coming the fog is coming the fog is coming the fog is coming
        the fog is coming the fog is coming the fog is coming the fog is coming the fog is coming
        the fog is coming the fog is coming the fog is coming the fog is coming the fog is coming
        the fog is coming the fog is coming the fog is coming the fog is coming the fog is coming
        the fog is coming the fog is coming the fog is coming the fog is coming the fog is coming
        the fog is coming the fog is coming the fog is coming the fog is coming the fog is coming
        the fog is coming the fog is coming the fog is coming the fog is coming the fog is coming
        the fog is coming the fog is coming the fog is coming the fog is coming the fog is coming
        the fog is coming the fog is coming the fog is coming the fog is coming the fog is coming
        the fog is coming the fog is coming the fog is coming the fog is coming the fog is coming
        the fog is coming the fog is coming the fog is coming the fog is coming the fog is coming
        the fog is coming the fog is coming the fog is coming the fog is coming the fog is coming
        the fog is coming the fog is coming the fog is coming the fog is coming the fog is coming
        the fog is coming the fog is coming the fog is coming the fog is coming the fog is coming
        the fog is coming the fog is coming the fog is coming the fog is coming the fog is coming
        the fog is coming the fog is coming the fog is coming the fog is coming the fog is coming
        the fog is coming the fog is coming the fog is coming the fog is coming the fog is coming
        the fog is coming the fog is coming the fog is coming the fog is coming the fog is coming
        the fog is coming the fog is coming the fog is coming the fog is coming the fog is coming
        the fog is coming the fog is coming the fog is coming the fog is coming the fog is coming
        the fog is coming the fog is coming the fog is coming the fog is coming the fog is coming
        the fog is coming the fog is coming the fog is coming the fog is coming the fog is coming
        the fog is coming the fog is coming the fog is coming the fog is coming the fog is coming
        the fog is coming the fog is coming the fog is coming the fog is coming the fog is coming
        the fog is coming the fog is coming the fog is coming the fog is coming the fog is coming
        the fog is coming the fog is coming the fog is coming the fog is coming the fog is coming
        the fog is coming the fog is coming the fog is coming the fog is coming the fog is coming
        the fog is coming the fog is coming the fog is coming the fog is coming the fog is coming
        the fog is coming the fog is coming the fog is coming the fog is coming the fog is coming
        the fog is coming the fog is coming the fog is coming the fog is coming the fog is coming
        the fog is coming the fog is coming the fog is coming the fog is coming the fog is coming
        the fog is coming the fog is coming the fog is coming the fog is coming the fog is coming
        the fog is coming the fog is coming the fog is coming the fog is coming the fog is coming
        the fog is coming the fog is coming the fog is coming the fog is coming the fog is coming
        the fog is coming the fog is coming the fog is coming the fog is coming the fog is coming
        the fog is coming the fog is coming the fog is coming the fog is coming the fog is coming
        the fog is coming the fog is coming the fog is coming the fog is coming the fog is coming
        the fog is coming the fog is coming the fog is coming the fog is coming the fog is coming
        the fog is coming the fog is coming the fog is coming the fog is coming the fog is coming
        the fog is coming the fog is coming the fog is coming the fog is coming the fog is coming
        the fog is coming the fog is coming the fog is coming the fog is coming the fog is coming
        the fog is coming the fog is coming the fog is coming the fog is coming the fog is coming
        the fog is coming the fog is coming the fog is coming the fog is coming the fog is coming
        the fog is coming the fog is coming the fog is coming the fog is coming the fog is coming
        the fog is coming the fog is coming the fog is coming the fog is coming the fog is coming
        the fog is coming the fog is coming the fog is coming the fog is coming the fog is coming
        the fog is coming the fog is coming the fog is coming the fog is coming the fog is coming
        the fog is coming the fog is coming the fog is coming the fog is coming the fog is coming
        the fog is coming the fog is coming the fog is coming the fog is coming the fog is coming
        the fog is coming the fog is coming the fog is coming the fog is coming the fog is coming
        the fog is coming the fog is coming the fog is coming the fog is coming the fog is coming
        the fog is coming the fog is coming the fog is coming the fog is coming the fog is coming
        the fog is coming the fog is coming the fog is coming the fog is coming the fog is coming
        the fog is coming the fog is coming the fog is coming the fog is coming the fog is coming
        the fog is coming the fog is coming the fog is coming the fog is coming the fog is coming
        the fog is coming the fog is coming the fog is coming the fog is coming the fog is coming
        the fog is coming the fog is coming the fog is coming the fog is coming the fog is coming
        the fog is coming the fog is coming the fog is coming the fog is coming the fog is coming
    </pre>
    <br>
    <h1 class="center">RUN</h1>
</body>
</html>