<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <title>S̸̢̨̡̨̧̗̣̤̻̼͖̠̠̯̪̬̲̟̩̺̝̰͇̼̺̠̹̙͇͖̻̲̣̭̘̪͖̗̟̣̾̓̈́͌̉̿̄̐͋̉́̀̓͊̓́͛̾̀̏̚͘͜͝ͅt̷͎͈̗́̆́̋̑͋͗͊̏͐̈́̋̾̎͌̊̍͘̚͘͝a̵̧̡̛̦͕̳͎̰̟̼̯̘̭͇͈̻͕̱̯͇̝͚̩̓́̅̎̂̆̒̾̿̎̔̓̇͛̓͆̈͆̔̈̆͂̏̄͂͛͋͛̌̄̚͘͘͜͝͠͠ẗ̶̞̩͖̪͕̖̯́͋̌̃͑̍́̅̑̐ͅî̷̧̲͓̱̦̫̺̬͂̑̓̓̂̃̿̄̈́̒̊̚͝ş̷̤̼̱̼̥̫̞͍̤̺̰̥̗̥̞͔͔͉̦̞̘̫̘͎̎͑̃̓̄̅͑̅̿́̔̾͒͜͝t̴̢̪̹͎̼̤̞͖̞̟̲̥̺͉͍̖̞̟̖̤͖̹̤̱͚͍̲̰̗̲̻̘̩̫͕̲͔͇̣͗̚ͅͅͅi̶̢̢̨̧̛̤̗̯̙͍͖͙͉̠̥̜̬͖̣̘̹̦̩̱̘̤̼̝̰͇̟̞̺͗̈́̿̽̉̾̽̆̈̐̀̓͋̚͜͝͠͝͝͝ç̴̣̭̭͚͚̦͙͇̳̎͒͑̐̓͐͊̑͗́͂̎͋̉́̂̅̃̀͗̍̔̽̅̉̅̊̅̓̊̒͌̅͆̑̂͆̃̚̚͘̕̕̕͜͠͝͝͠ș̵̼̫͙̩͍͓̯̼̯͕̿̀̒̅̃̃̑̉͌̃̀̆̄͗̏̈́̄̓̓̀̈̓͆̈́̊͆̽̓̚͜͝͝͠</title>
</head>
<body>
    <div>
        <pre>
current {
    simulation no: 14
    population: 7.9 B 
    civilisation: 14.6%
    roads: 9.48124%
    Kardashev scale: 0.89
    no. of glitches: 433
    next simulation: 633 days
    previous simulation: 7.1K years
    internet: TRUE
    next extinction event: fog
    time until fog: 129 days
    domain: www.recorda.info  
}
        </pre>
    </div>

    <div>
        <pre>
previous {
    simulation no: 13
    population: 11 B 
    civilisation: 44.2%
    roads: 39.3%
    Kardashev scale: 1.19
    no. of glitches: 691
    next simulation: 0 days
    previous simulation: 7.2K years
    internet: FALSE
    next extinction event: meteor 
    time until meteor: 0 days
    domain: www.recorda.info  
}
        </pre>
    </div>
</body>
</html>